{
    "plugins": [
        "lodash", 
        "transform-async-to-generator",
        [ "transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }]
    ],
    "presets": ["es2015", "es2017"]
}
