h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

html {
    height: 100%;

    body {
        height: 100%;

        #login-content {
        }

        #content-container {
            #main-menu {
                height: 100%;
                width: 220px;
            }

            #content {
                margin-left: 220px;
                height: 100%;

                border-left: 2px solid black;
            }
        }
    }
}

ul.menu li button {
    margin-right: .5rem;
    border-radius: 5px;
    padding: 8px;
}

.error-msg {
    font-size: .8rem;
    padding-bottom: 10px;
    color: darkred;
    padding-left: 20px;
}

i.fa-meeple {
    position: absolute;
    display: block;

    background: url('images/fa-meeple.png');
    background-size: 52px 52px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-size: cover;
    top: 12px;
}

.meeple-label {
    margin-left: 29px;
}

table.rankings {
    text-align: left;
}

.dialog-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;

    .dialog {
        position: relative;
        flex: 0.5;
        background: whitesmoke;
        padding: 20px;
        border-radius: 5px;
        border: 2px solid darkgreen;
    }
}

progress {
    display: none;
    width: 100%;
}

#print-area, #print-area * {
    visibility: hidden;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

@media print {
  body * {
      visibility: hidden;
  }

  #content {
      display: none;
  }

  #print-area, #print-area * {
      visibility: visible;
  }
  #print-area {
    position: absolute;
    left: 0;
    top: 0;
  }
}
