@yellow: #FFFD76;
@green: #22bb6d;
@purple: #B283E8;
@red: #FF605F;
@black: #575757;

@light-text-color: #EFEFEF;
@main_menu_color: #5E5B54;

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

html {
    height: 100%;

    body {
        height: 100%;

        #login-content {
        }

        #content-container {
            #main-menu {
                height: 100%;
                width: 220px;

                .main-menu-container {

                    position: fixed;
                    height: 100%;
                    width: 220px;
                    font-size: 1.4em;

                    background: linear-gradient(to right, @main_menu_color 0%, darken(@main_menu_color, 3%) 100%);
                    color: @light-text-color;

                    .menu-button {
                        cursor: pointer;
                        position: relative;
                        text-align: left;
                        width: 100%;
                        height: 50px;
                        line-height: 50px;
                        padding: 0px 10px;
                        margin-right: -7px;
                        transition: padding-left 0.7s;

                        &:hover, &.active {
                            padding-left: 30px;

                            background-image: -webkit-gradient(
                            linear,
                            left top,
                            left bottom,
                            color-stop(1, #58554F),
                            color-stop(1, #524F48),
                            color-stop(1, #58554F)
                            );
                            background-image: -o-linear-gradient(bottom, #58554F 100%, #524F48 100%, #58554F 100%);
                            background-image: -moz-linear-gradient(bottom, #58554F 100%, #524F48 100%, #58554F 100%);
                            background-image: -webkit-linear-gradient(bottom, #58554F 100%, #524F48 100%, #58554F 100%);
                            background-image: -ms-linear-gradient(bottom, #58554F 100%, #524F48 100%, #58554F 100%);
                            background-image: linear-gradient(to bottom, #58554F 100%, #524F48 100%, #58554F 100%);
                        }
                    }
                }
            }

            #content {
                margin-left: 220px;
                height: 100%;

                .sub-menu {
                    position: fixed;
                    background: linear-gradient(to right, darken(@main_menu_color, 3%) 0%, @main_menu_color 100%);
                    border-bottom: 2px solid rgba(43,43,43,0.9);
                    width: 100%;
                    z-index: 1;

                    .sub-button {
                        padding: 10px;
                        font-size: 18px;

                        color: @light-text-color;
                        text-shadow: 1px 1px 0px @black;

                        i {
                            font-size: 24px;
                        }

                        &:hover {
                            background: darken(@main_menu_color, 10%);
                        }
                    }
                }

                .main-content {
                    padding: 20px;
                    padding-top: 64px;
                    height: 100%;

                    border-left: 2px solid rgba(43,43,43,0.9);
                }
            }
        }
    }
}

ul.menu li button {
    margin-right: .5rem;
    border-radius: 5px;
    padding: 8px;
}

.error-msg {
    font-size: .8rem;
    padding-bottom: 10px;
    color: darkred;
    padding-left: 20px;
}

i.fa-meeple {
    position: absolute;
    display: block;

    background: url('images/fa-meeple.png');
    background-size: 52px 52px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-size: cover;
    top: 12px;
}

.meeple-label {
    margin-left: 29px;
}

table.rankings {
    text-align: left;
}

.dialog-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;

    .dialog {
        position: relative;
        flex: 0.6;
        background: whitesmoke;
        padding: 20px;
        border-radius: 5px;
        border: 2px solid darkgreen;
    }
}

progress {
    display: none;
    width: 100%;
}

#print-area, #print-area * {
    visibility: hidden;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

@media print {
  body * {
      visibility: hidden;
  }

  #content {
      display: none;
  }

  #print-area, #print-area * {
      visibility: visible;
  }
  #print-area {
    position: absolute;
    left: 0;
    top: 0;
  }
}
