@event-bg-color: #D3EFC7;

@green: #87C351;
@blue: #489DFF;
@red: #FF7964;
@yellow: #FFF57F;
@black: #575757;

@green-border: #476821;
@blue-border: #0056B9;
@red-border: #C42C00;
@yellow-border: #9E9700;

@light-text-color: #EFEFEF;

.top-menu {

    &.events {
        background-color: @event-bg-color;
    }

    .logo {
        float: left;
        background: url('images/logo.png');
        background-size: cover;
        width: 86px;
        height: 86px;
        margin: 5px;
    }

    .menus {
        height: 96px;
        border-bottom: 1px solid black;

        .main-menu {
            position: relative;
            height: 51px;
            margin-left: 100px;
            font-size: 1.6em;
            color: @light-text-color;
            border-bottom: 1px solid @black;

            .menu-button {
                height: 50px;
                padding: 0px 10px;
                margin-right: -9px;
                text-shadow: 1px 1px 0px @black;

                &.events {
                    background-color: @green;
                    border-left: 1px solid @green-border;

                    &:hover, &.active {
                        background-color: darken(@green, 15%);
                    }
                }

                &.profile {
                    background-color: @blue;
                    border-left: 1px solid @blue-border;

                    &:hover, &.active {
                        background-color: darken(@blue, 15%);
                    }
                }

                &.users {
                    background-color: @red;
                    border-left: 1px solid @red-border;

                    &:hover, &.active {
                        background-color: darken(@red, 15%);
                    }
                }

                &.admin {
                    background-color: @yellow;
                    border-left: 1px solid @yellow-border;
                    border-right: 1px solid @yellow-border;

                    color: @black;
                    text-shadow: 1px 1px 0px #dedada;

                    &:hover, &.active {
                        background-color: darken(@yellow, 15%);
                    }
                }

                &.logout {
                    position: absolute;
                    right: 0.5em;
                    top: 0;

                    color: @black;
                    text-shadow: 1px 1px 0px #dedada;
                }
            }
        }

        .sub-menu {
            margin-left: 100px;
            border-left: 1px solid black;

            .sub-button {
                padding: 10px;
                font-size: 18px;

                color: @light-text-color;
                text-shadow: 1px 1px 0px @black;

                i {
                    font-size: 24px;
                }
            }

            &.events {
                background-color: @green;

                .sub-button:hover {
                    background-color: darken(@green, 15%);
                }
            }

        }
    }

}
