@tournament-bg-color: #8F3BAE;
@event-bg-color: #D3EFC7;
@profile-bg-color: #bfdcfd;
@users-bg-color: #ffb2a6;
@admin-bg-color: #fff793;

@purple: #8F3BAE;
@green: #87C351;
@blue: #489DFF;
@red: #FF7964;
@yellow: #FFF57F;
@black: #575757;
@white: #f5f5f5;

@purple-border: #8F3BAE;
@green-border: #476821;
@blue-border: #0056B9;
@red-border: #C42C00;
@yellow-border: #9E9700;

@light-text-color: #EFEFEF;

.main-menu-container {

    position: fixed;
    width: 220px;
    font-size: 1.4em;
    color: @light-text-color;
    border-bottom: 1px solid @black;

    .menu-button {
        position: relative;
        text-align: left;
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0px 10px;
        margin-right: -7px;

        &.tournaments {
            background-color: @purple;
            border-bottom: 1px solid @purple-border;

            &:hover, &.active {
                background-color: darken(@purple, 15%);
            }
        }

        &.events {
            background-color: @green;
            border-bottom: 1px solid @green-border;

            &:hover, &.active {
                background-color: darken(@green, 15%);
            }
        }

        &.profile {
            background-color: @blue;
            border-bottom: 1px solid @blue-border;

            &:hover, &.active {
                background-color: darken(@blue, 15%);
            }
        }

        &.users {
            background-color: @red;
            border-bottom: 1px solid @red-border;

            &:hover, &.active {
                background-color: darken(@red, 15%);
            }
        }

        &.templates {
            background-color: @white;
            border-bottom: 1px solid darken(@white, 20%);
            color: @black;

            &:hover, &.active {
                background-color: darken(@white, 15%);
            }
        }

        &.admin {
            background-color: @yellow;
            border-bottom: 1px solid @yellow-border;

            color: @black;
            text-shadow: 1px 1px 0px #dedada;

            &:hover, &.active {
                background-color: darken(@yellow, 15%);
            }
        }

        &.logout {
            color: @black;
            text-shadow: 1px 1px 0px #dedada;
        }
    }
}

.sub-menu {
    border: none;
    border-bottom: 2px solid black;

    .sub-button {
        padding: 10px;
        font-size: 18px;

        color: @light-text-color;
        text-shadow: 1px 1px 0px @black;

        i {
            font-size: 24px;
        }
    }

    &.events {
        background-color: @green;

        .sub-button:hover {
            background-color: darken(@green, 15%);
        }
    }

    &.profile {
        background-color: @blue;

        .sub-button:hover {
            background-color: darken(@blue, 15%);
        }
    }

    &.users {
        background-color: @red;

        .sub-button:hover {
            background-color: darken(@red, 15%);
        }
    }

    &.admin {
        background-color: @yellow;

        .sub-button:hover {
            background-color: darken(@yellow, 15%);
        }

        .sub-button {
            color: @black;
            text-shadow: 1px 1px 0px #e4e4e4;
        }
    }
}
