<script id="delete-model-dialog" type="text/template">
    <div class="dialog-container">
        <div class="dialog">
            <h1>Are you sure?</h1>
            <p class="lead">This information will be permanantly lost.</p>

            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="progress-text"></div>
            <progress class="progress" max="100" value="0"></progress>

            <button class="button alert confirm_delete">Delete</button>
        </div>
    </div>
</script>
