<script id="main-menu-template" type="text/template">
    <div class="main-menu-container">
        <div rv-show="is_loggedin">
            <button class="menu-button tournaments tournament_list" rv-class-active="active_items.tournaments_active">
                <i class="fa fa-trophy" aria-hidden="true"></i> Tournaments
            </button>
            <button class="menu-button events event_list" rv-class-active="active_items.events_active">
                <i class="fa fa-gamepad" aria-hidden="true"></i> Events
            </button>
            <button class="menu-button profile my_profile" rv-class-active="active_items.profile_active">
                <i class="fa fa-meeple" aria-hidden="true"></i>
                <div class="meeple-label">Profile</div>
            </button>
            <button class="menu-button users user_list" rv-class-active="active_items.users_active">
                <i class="fa fa-user-circle" aria-hidden="true"></i> Users
            </button>

            <button rv-show="is_superuser" class="menu-button templates template_list" rv-class-active="active_items.templates_active">
                <i class="fa fa-sticky-note-o" aria-hidden="true"></i> Templates
            </button>

            <button rv-show="is_developer" class="menu-button admin open_developer" rv-class-active="active_items.developer_active">
                <i class="fa fa-flask" aria-hidden="true"></i> Developer
            </button>

            <button class="menu-button logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
            </button>
        </div>
    </div>
</script>
