<script id="event-template-tile-component" type="text/template">
    <div class="tile event-template">
        <div class="title">
            { template.event_name | truncate 27}
        </div>

        <table class="tile-grid">
            <tr>
                <td>
                    <div class="rank-algorithm">
                        <h5>Rankings</h5>
                        <ul>
                            <li>First: { template.first_rank_by | rank_desc_short }</li>
                            <li>Second: { template.second_rank_by | rank_desc_short }</li>
                            <li>Third: { template.third_rank_by | rank_desc_short }</li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="rounds"> { num_rounds } rounds </div>
                </td>
            </tr>
        </table>

        <div class="buttons">
            <button rv-unless="is_published" class="button-option create_event" rv-data-id="template._id">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span>Create</span>
            </button>

            <button rv-if="can_modify" class="button-alert template_delete" rv-data-id="event._id">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                <span>Delete</span>
            </button>
        </div>
    </div>
</script>
