<script id="admin-dashboard" type="text/template">

    <button class="button event_create">Create New Event</button>
    <button class="button user_list">Manage Users</button>
    <button class="button open_dev_tools">Open Dev Tools</button>
    <button class="button logout">Logout</button>

    <ul id="event-list">
        <li rv-each-event="events">
            <h3>{ event.event_name }</h3>
            <h5>An organized game of { event.game_name } by { event.organizer_name }</h5>
            <h5>At { event.location } on { event.date }</h5>
            <h5>{ event.num_rounds } rounds with { event.num_players} players.</h5>

            <div class="button-group">
                <button class="button event_details" rv-data-id="event._id">Details</button>
                <button class="button alert event_delete" rv-data-id="event._id">Delete</button>
            </div>
        </li>
    </ul>

    <div class="reveal" id="deleteEventConfirm" data-reveal>
        <h1>Are you sure?</h1>
        <p class="lead">This cannot be undone.</p>

        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>

        <button class="button alert event_delete_confirm" data-id="">Confirm</button>
    </div>
</script>
