<script id="admin-dashboard" type="text/template">

    <ul>
        <li rv-each-event="events">
            <h2>{ event.event_name }</h2>
            <div>{ event.game_name }</div>
            <div>{ event.organizer_name }</div>
            <div>{ event.location }</div>
            <div>{ event.date }</div>
            <div>{ event.num_rounds }</div>

            <button class="button event_details" rv-data-id="event._id">Details</button>
            <button class="button alert event_delete" rv-data-id="event._id">Delete</button>
        </li>
    </ul>

    <div class="reveal" id="deleteEventConfirm" data-reveal>
        <h1>Are you sure?</h1>
        <p class="lead">This cannot be undone.</p>

        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>

        <button class="button alert event_delete_confirm" data-id="">Confirm</button>
    </div>
</script>
