<script id="create-event" type="text/template">
    <h1>Create a new event!</h1>

    <form>
        <div class="row">
            <div class="large-12 columns">
                <label>Event Name</label>
                <div rv-if="errors.event_name" class="error-msg">{ errors.event_name }</div>
                <input rv-value="event_name" type="text" placeholder="e.g. Catan USC Qualifier - Indianapolis" />
            </div>
        </div>

        <div class="row">
            <div class="large-4 columns">
                <label>Game Name</label>
                <div rv-if="errors.game_name" class="error-msg">{ errors.game_name }</div>
                <input rv-value="game_name" type="text" placeholder="e.g. Catan" />
            </div>

            <div class="large-4 columns">
                <label>Location</label>
                <div rv-if="errors.location" class="error-msg">{ errors.location }</div>
                <input rv-value="location" type="text" placeholder="e.g. Gencon 2016" />
            </div>

            <div class="large-4 columns">
                <label>Date</label>
                <div rv-if="errors.date" class="error-msg">{ errors.date }</div>
                <input rv-value="date" type="text" placeholder="e.g. 08/03/2016" />
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <h2>Event Options</h2>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <button id="on-submit" type="button" class="button">Save</button>
                <button id="on-close" type="button" class="button">Close</button>
            </div>
        </div>
    </form>
</script>
