<script id="create-player" type="text/template">
    <div class="main-content">
        <h1>Register for an event!</h1>

        <form>
            <div class="row">
                <div class="large-12 columns">
                    <label>Your Name</label>
                    <div rv-if="errors.name" class="error-msg">{ errors.name }</div>
                    <input rv-value="player.name" type="text" placeholder="e.g. Jesse Gamer" />
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <label>Event</label>
                    <div rv-if="errors.event_id" class="error-msg">{ errors.event_id }</div>
                    <select rv-value="player.event_id">
                        <option rv-each-event="events" rv-value="event._id">
                            { event.event_name } @ { event.location }
                        </option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <h2>Contact Information</h2>
                </div>
            </div>

            <div class="row">
                <div class="large-6 medium-6 columns">
                    <label>Email</label>
                    <div rv-if="errors.email" class="error-msg">{ errors.email }</div>
                    <input rv-value="player.email" type="text" placeholder="e.g. awesomesauce@bgg.com" />
                </div>

                <div class="large-6 medium-6 columns">
                    <label>Phone Number</label>
                    <div rv-if="errors.phone_number" class="error-msg">{ errors.phone_number }</div>
                    <input rv-value="player.phone_number" type="text" placeholder="e.g. 123-456-1213" />
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <label>Address</label>
                    <div rv-if="errors.address" class="error-msg">{ errors.address }</div>
                    <input rv-value="player.address" type="text" placeholder="e.g. 123 Spiel Strasse" />
                </div>
            </div>

            <div class="row">
                <div class="large-4 medium-4 columns">
                    <label>City</label>
                    <div rv-if="errors.city" class="error-msg">{ errors.city }</div>
                    <input rv-value="player.city" type="text" placeholder="e.g. Lake Geneva" />
                </div>

                <div class="large-4 medium-4 columns">
                    <label>State</label>
                    <div rv-if="errors.state" class="error-msg">{ errors.state }</div>
                    <input rv-value="player.state" type="text" placeholder="e.g. Wisconsin" />
                </div>

                <div class="large-4 medium-4 columns">
                    <label>Zip Code</label>
                    <div rv-if="errors.zip_code" class="error-msg">{ errors.zip_code }</div>
                    <input rv-value="player.zip_code" type="text" placeholder="e.g. 53147" />
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <button class="button secondary on-close">Close</button>
                    <button id="on-submit" type="button" class="button">Save</button>
                </div>
            </div>
        </form>
    </div>
</script>
