<script id="create-event" type="text/template">
    <h1>Create a new event!</h1>

    <form>
        <div class="row">
            <div class="large-12 columns">
                <label>Event Name</label>
                <div rv-if="errors.event_name" class="error-msg">{ errors.event_name }</div>
                <input rv-value="event_name" type="text" placeholder="e.g. Catan USC Qualifier - Indianapolis" />
            </div>
        </div>

        <div class="row">
            <div class="large-4 columns">
                <label>Game Name</label>
                <div rv-if="errors.game_name" class="error-msg">{ errors.game_name }</div>
                <input rv-value="game_name" type="text" placeholder="e.g. Catan" />
            </div>

            <div class="large-4 columns">
                <label>Location</label>
                <div rv-if="errors.location" class="error-msg">{ errors.location }</div>
                <input rv-value="location" type="text" placeholder="e.g. Gencon 2016" />
            </div>

            <div class="large-4 columns">
                <label>Date</label>
                <div rv-if="errors.date" class="error-msg">{ errors.date }</div>
                <input rv-value="date" type="text" placeholder="e.g. 08/03/2016" />
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <h2>Event Options</h2>
            </div>
        </div>

        <div class="row">
            <div class="large-3 columns">
                <label>Number of Rounds</label>
                <div rv-if="errors.num_rounds" class="error-msg">{ errors.num_rounds }</div>
                <input rv-value="num_rounds" type="text" placeholder="e.g. 3" />
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <h2>Organizer Information</h2>
                <p>Enter a name for the head official, organizer, or judge of 
                    the event, and enter an event password. You will need your
                    password to modify the event in the future. The event 
                    password will only work on this machine.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label>Organizer Name</label>
                <div rv-if="errors.organizer_name" class="error-msg">{ errors.organizer_name }</div>
                <input rv-value="organizer_name" type="text" placeholder="e.g. Ron Spielmann" />
            </div>
        </div>


        <div class="row">
            <div class="large-12 columns">
                <label>Event Password</label>
                <div rv-if="errors.local_admin_password" class="error-msg">{ errors.local_admin_password }</div>
                <input rv-value="local_admin_password" type="password" />
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label>Confirm Event Password</label>
                <div rv-if="errors.local_admin_confirm" class="error-msg">{ errors.local_admin_confirm }</div>
                <input rv-value="local_admin_confirm" type="password" />
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <button id="on-submit" type="button" class="button">Save</button>
            </div>
        </div>
    </form>
</script>
