<script id="create-tournament-template" type="text/template">
    <div class="sub-menu tournaments">
        <button class="sub-button on-close">
            <i class="fa fa-window-close-o" aria-hidden="true"></i> Close
        </button>

        <button class="sub-button add_event">
            <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Add Event
        </button>

        <button class="sub-button save_tournament">
            <i class="fa fa-trophy" aria-hidden="true"></i> Save as Template
        </button>
    </div> 

    <div class="main-content">
        <div id="tournament-builder-paper"></div>
    </div>
</script>
