<script id="event-tile-component" type="text/template">
    <div class="event-tile">
        <div class="event-name">
            { event.event_name | truncate 27}
        </div>

        <table class="tile-grid">
            <tr>
                <td>
                    <div class="date">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        { event.date | date }
                    </div>
                    <div class="location">{ event.location }</div>
                </td>
                <td>
                    <div class="rounds">
                        { num_rounds } rounds
                    </div>
                </td>
            </tr>
        </table>

        <div class="num-players">
            <h1>{ num_players }</h1>
            <h2>players</h2>
        </div>

        <div class="buttons">
            <button class="button-more event_details">
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <span>Details</span>
            </button>

            <button rv-if="can_register" class="button-option event_register" rv-data-id="event._id">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <span>Register</span>
            </button>

            <button rv-if="is_registered" class="button-option nohover">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span>You're In!</span>
            </button>

            <button rv-if="is_closed" class="button-option nohover">
                <i class="fa fa-hand-stop-o" aria-hidden="true"></i>
                <span>Closed!</span>
            </button>

            <button rv-if="can_delete" class="button-alert event_delete" rv-data-id="event._id">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                <span>Delete</span>
            </button>
        </div>
    </div>
</script>
