<script id="event-detail" type="text/template">
    <h2>{ event.event_name }</h2>
    <div>{ event.game_name }</div>
    <div>{ event.organizer_name }</div>
    <div>{ event.location }</div>
    <div>{ event.date }</div>

    <button class="button start-event">Start Event</button>
    <button class="button event-rankings">Event Rankings</button>
    <button class="button event-edit">Edit Event</button>
    <button class="button on-close">Close</button>

    <div rv-if="event.current_round">
        On { event.current_round } of { event.num_rounds } rounds.
    </div>

    <div rv-unless="event.current_round">
        Total Rounds: { event.num_rounds }.
    </div>

    <h2>Players</h2>
    <ul rv-each-player="players">
        <li>
            <div>{ player.name }</div>
        </li>
    </ul>
</script>
