<script id="event-detail" type="text/template">
    <h2>{ event.event_name }</h2>
    <div>{ event.game_name }</div>
    <div>{ event.organizer_name }</div>
    <div>{ event.location }</div>
    <div>{ event.date }</div>

    <button rv-unless="event.started" class="button start-event">Start Event</button>
    <button class="button event-rankings">Event Rankings</button>
    <button class="button event-edit">Edit Event</button>
    <button class="button on-close">Close</button>

    <div rv-if="event.current_round">
        On { event.current_round } of { event.num_rounds } rounds.
    </div>

    <div class="row">
        <div class="large-12 columns">
            <h2>Rounds</h2>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <table>
                <tr>
                    <th>Round Name</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>

                <tr rv-each-round="rounds">
                    <td> <b>{ round.name }</b> </td>

                    <td>
                        <span rv-hide="round.started">
                            Not Started
                        </span>

                        <span rv-show="round.started">
                            <span rv-hide="round.finished">
                                In Progress
                            </span>
                        </span>

                        <span rv-show="round.finished">
                            Finished
                        </span>
                    </td>

                    <td>
                        <button rv-unless="round.started" class="button expanded round-start" rv-data-id="round._id">Start</button>

                        <span rv-show="round.started">
                            <button rv-unless="round.finished" class="button expanded round-finish" rv-data-id="round._id">Finish</button>
                        </span>
                    </td>

                    <td>
                        <button class="button expanded round-details" rv-data-id="round._id">Details</button>
                    </td>

                    <td>
                        <button class="button expanded round-remove" rv-data-id="round._id">Remove</button>
                    </td>
                </div>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <h2>Add Round</h2>
        </div>
    </div>

    <div class="row">
        <div class="input-group">
            <span class="input-group-label">Round Name</span>
            <input class="input-group-field" rv-value="round_name" type="text" placeholder="e.g. Round 1, Preliminary, Qualifier" />
            <div class="input-group-button">
                <button class="button round-create">Add New</button>
            </div>
        </div>
    </div>

    <div rv-unless="event.current_round">
        Total Rounds: { event.num_rounds }.
    </div>

    <div class="row">
        <div class="large-12 columns">
            <h2>Players</h2>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <ul rv-each-player="players">
                <li>{ player.name }</li>
            </ul>
        </div>
    </div>
</script>
