<script id="list-players" type="text/template">

    <ul>
        <li rv-each-player="players">
            <h2>{ player.name }</h2>

            <button class="button player_details" rv-data-id="player._id">Details</button>
            <button class="button alert player_delete" rv-data-id="player._id">Delete</button>
        </li>
    </ul>

    <div class="reveal" id="deletePlayerConfirm" data-reveal>
        <h1>Are you sure?</h1>
        <p class="lead">This cannot be undone.</p>

        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>

        <button class="button alert player_delete_confirm" data-id="">Confirm</button>
    </div>
</script>
