<script id="list-users" type="text/template">
    <div class="top-menu users">
        <div class="logo">&nbsp;</div>

        <div class="menus">
            <div class="main-menu">
                <button class="menu-button events event_list">
                    <i class="fa fa-gamepad" aria-hidden="true"></i> Events
                </button>
                <button class="menu-button profile my_profile">
                    <i class="fa fa-meeple" aria-hidden="true"></i> Profile
                </button>
                <button class="menu-button users active">
                    <i class="fa fa-user-circle" aria-hidden="true"></i> Users
                </button>
                <button rv-if="is_superuser" class="menu-button admin open_admin">
                    <i class="fa fa-cog" aria-hidden="true"></i> Admin
                </button>

                <button class="menu-button logout">
                    Logout <i class="fa fa-sign-out" aria-hidden="true"></i>
                </button>
            </div>

            <div class="sub-menu users">
                <button class="sub-button on-close">
                    <i class="fa fa-window-close-o" aria-hidden="true"></i> Close
                </button>
            </div>
        </div>
    </div>

    <div class="row column">
        <div class="input-group">
            <span class="input-group-label"><i class="fa fa-search"></i></span>
            <input class="input-group-field" type="text" placeholder="Search by Name" rv-value="search">
        </div>
    </div>

    <div id="user-list">
        <div class="row" rv-each-user="users | filter 'name' search">
            <div class="medium-9 columns">
                <h3>{ user.name }</h3>
            </div>

            <div class="medium-3 columns">
                <button class="button user_details" rv-data-id="user._id">Details</button>

                <button rv-if="is_superuser" class="button alert user_delete" rv-data-id="user._id">
                    Delete
                </button>
            </div>
        </div>
    </div>
</script>
