<script id="login" type="text/template">
    <div class="login-cover"></div>

    <div class="login-form">
        <form action="javscript:void(0)">
            <input type="email" rv-value="email" placeholder="gary@greyhawk.com">
            <input type="password" rv-value="password" placeholder="eyeofbeholder">

            <button type="submit" class="button submit_login">Login</button>

            <button type="button" class="secondary button expanded register_button" href="#">
                Don't have an account?
            </button>
        </form>
    </div>
</script>
