<script id="print-score-sheets-dialog" type="text/template">
    <div class="dialog-container">
        <div class="dialog">
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>

            <div id="score-sheets">
                The Score Sheets.
            </div>

            <button class="button button-primary expanded print_score_sheets">
                <i class="fa fa-print" aria-hidden="true"></i>
                Print
            </button>
        </div>
    </div>
</script>
