<script id="register" type="text/template">
    <div class="register-cover"></div>

    <div class="register-form">
        <input type="text" rv-value="name" placeholder="Your Name Here">
        <input type="email" rv-value="email" placeholder="gary@blackmoor.com">

        <input type="password" rv-value="password" placeholder="Your Password">
        <input type="password" rv-value="confirm" placeholder="Confirm Password">

        <button class="button submit_register">Register</button>

        <a class="login_button" href="#">Already have an account? Login Here!</a>
    </div>
</script>
