<script id="round-detail" type="text/template">
    <div class="sub-menu events">
        <button class="sub-button on-close">
            <i class="fa fa-window-close-o" aria-hidden="true"></i> 
            <span class="show-for-medium">Close</span>
        </button>

        <button rv-if="can_modify" class="sub-button print-score-sheets">
            <i class="fa fa-print" aria-hidden="true"></i>
            <span class="show-for-medium">Print Score Sheets</span>
        </button>

        <span rv-show="can_modify">
            <button rv-enabled="event.started" rv-hide="round.seated" class="sub-button seat-players">
                <i class="fa fa-random" aria-hidden="true"></i> 
                <span class="show-for-medium">Seat Players</span>
            </button>

            <span rv-show="event.started">
                <button rv-hide="round.started" rv-enabled="round.seated" class="sub-button start-round">
                    <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                    <span class="show-for-medium">Start Round</span>
                </button>

                <span rv-show="round.started">
                    <button rv-hide="round.finished" class="sub-button finish-round">
                        <i class="fa fa-flag-checkered" aria-hidden="true"></i>
                        <span class="show-for-medium">Finish Round</span>
                    </button>
                </span>
            </span>

            <button class="sub-button generate-random-scores">
                <i class="fa fa-diamond" aria-hidden="true"></i>
                <span class="show-for-medium">Gen Random Scores</span>
            </button>
        </span>
    </div>

    <div class="main-content">
        <div class="round-detail">
            <div class="row">
                <h2 class="round-header">{ round.name } of { event.event_name }</h2>
            </div>

            <div class="tables"></div>
        </div>
    </div>
</script>
