<script id="round-detail" type="text/template">
    <div class="round-detail">
        <h2>{ round.name }</h2>
        <h4>{ event.event_name }</h4>

        <button rv-enabled="event.started" rv-hide="round.seated" class="button seat-players">Seat Players</button>

        <span rv-show="event.started">
            <button rv-hide="round.started" rv-enabled="round.seated" class="button start-round">Start Round</button>

            <span rv-show="round.started">
                <button rv-hide="round.finished" class="button finish-round">Finish Round</button>
            </span>
        </span>

        <button class="button generate-random-scores">Gen Random Scores</button>
        <button class="button on-close">Close</button>

        <div rv-show="round.seated" class="row">
            <div class="table" rv-each-table="tables">
                <div class="large-4 medium-6 small-12 columns">
                    <div class="row">
                        <div class="large-12 medium-12 small-12 columns">
                            <h2>Table { table.table_number }</h2>
                            <h3>{ table.positions } Players </h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-12 medium-12 small-12 columns">
                            <svg class="table-graph" viewbox="0 0 100 100">
                                <g class="player">
                                    <polygon rv-show="table.players.0.dropped" class="dropped" points="0,0 50,50 100,0"></polygon>
                                    <polygon rv-hide="table.players.0.dropped" points="0,0 50,50 100,0"></polygon>

                                    <text x="50" y="10">
                                        { table.players.0.name }
                                    </text>

                                    <text class="position" x="50" y="45">1</text>
                                </g>

                                <g class="player">
                                    <polygon rv-show="table.players.1.dropped" class="dropped" points="100,0 50,50 100,100"></polygon>
                                    <polygon rv-hide="table.players.1.dropped" points="100,0 50,50 100,100"></polygon>

                                    <text x="50" y="-90" transform="rotate(90)">
                                        { table.players.1.name }
                                    </text>

                                    <text class="position" x="60" y="55">2</text>
                                </g>

                                <g class="player">
                                    <polygon rv-show="table.players.2.dropped" class="dropped" points="0,100 50,50 100,100"></polygon>
                                    <polygon rv-hide="table.players.2.dropped" points="0,100 50,50 100,100"></polygon>

                                    <text x="50" y="90">
                                        { table.players.2.name }
                                    </text>
                                    <text class="position" x="50" y="65">3</text>
                                </g>

                                <g class="player">
                                    <polygon rv-show="table.players.3.dropped" class="dropped" points="0,0 50,50 0,100"></polygon>
                                    <polygon rv-hide="table.players.3.dropped" points="0,0 50,50 0,100"></polygon>

                                    <text x="-50" y="10" transform="rotate(-90)">
                                        { table.players.3.name }
                                    </text>

                                    <text class="position" x="40" y="55">4</text>
                                </g>
                            </svg>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-12 medium-12 small-12 columns">
                            <table class="table-data">
                                <tr>
                                    <th>Position</th>
                                    <th>Player</th>
                                    <th>Score</th>
                                    <th>Drop</th>
                                </tr>

                                <tr rv-class-dropped="table.players.0.dropped">
                                    <td>First</td>
                                    <td>{ table.players.0.name }</td>
                                    <td><input type="text" rv-value="table.scores.0" /></td>

                                    <td>
                                        <button rv-show="table.players.0.dropped" class="button success drop_player" rv-data-id="table.id" data-idx="0">
                                            Join
                                        </button>

                                        <button rv-hide="table.players.0.dropped" class="button alert drop_player" rv-data-id="table.id" data-idx="0">
                                            Drop
                                        </button>
                                    </td>
                                </tr>

                                <tr rv-class-dropped="table.players.1.dropped">
                                    <td>Second</td>
                                    <td>{ table.players.1.name }</td>
                                    <td><input type="text" rv-value="table.scores.1" /></td>

                                    <td>
                                        <button rv-show="table.players.1.dropped" class="button success drop_player" rv-data-id="table.id" data-idx="1">
                                            Join
                                        </button>

                                        <button rv-hide="table.players.1.dropped" class="button alert drop_player" rv-data-id="table.id" data-idx="1">
                                            Drop
                                        </button>
                                    </td>
                                </tr>

                                <tr rv-class-dropped="table.players.2.dropped">
                                    <td>Third</td>
                                    <td>{ table.players.2.name }</td>
                                    <td><input type="text" rv-value="table.scores.2" /></td>
                                    
                                    <td>
                                        <button rv-show="table.players.2.dropped" class="button success drop_player" rv-data-id="table.id" data-idx="2">
                                            Join
                                        </button>

                                        <button rv-hide="table.players.2.dropped" class="button alert drop_player" rv-data-id="table.id" data-idx="2">
                                            Drop
                                        </button>
                                    </td>
                                </tr>

                                <tr rv-class-dropped="table.players.3.dropped">
                                    <td>Fourth</td>
                                    <td>{ table.players.3.name }</td>
                                    <td><input type="text" rv-value="table.scores.3" /></td>

                                    <td>
                                        <button rv-show="table.players.3.dropped" class="button success drop_player" rv-data-id="table.id" data-idx="3">
                                            Join
                                        </button>

                                        <button rv-hide="table.players.3.dropped" class="button alert drop_player" rv-data-id="table.id" data-idx="3">
                                            Drop
                                        </button>
                                    </td>
                                </tr>
                            </table>

                            <button class="button record_scores expanded" rv-data-id="table.id">Record Scores</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
