<script id="table-component" type="text/template">
    <div class="large-4 medium-6 small-12 columns">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
                <h2>Table { table.table_number }</h2>
                <h3>{ num_seats } Players </h3>
            </div>
        </div>

        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
                <svg class="table-graph" viewbox="0 0 100 100">
                    <g class="player">
                        <polygon rv-show="seats.0.rank.dropped" class="dropped" points="0,0 50,50 100,0"></polygon>
                        <polygon rv-hide="seats.0.rank.dropped" points="0,0 50,50 100,0"></polygon>

                        <text x="50" y="10">
                            { seats.0.player.name }
                        </text>

                        <text class="position" x="50" y="45">1</text>
                    </g>

                    <g class="player">
                        <polygon rv-show="seats.1.rank.dropped" class="dropped" points="100,0 50,50 100,100"></polygon>
                        <polygon rv-hide="seats.1.rank.dropped" points="100,0 50,50 100,100"></polygon>

                        <text x="50" y="-90" transform="rotate(90)">
                            { seats.1.player.name }
                        </text>

                        <text class="position" x="60" y="55">2</text>
                    </g>

                    <g class="player">
                        <polygon rv-show="seats.2.rank.dropped" class="dropped" points="0,100 50,50 100,100"></polygon>
                        <polygon rv-hide="seats.2.rank.dropped" points="0,100 50,50 100,100"></polygon>

                        <text x="50" y="90">
                            { seats.2.player.name }
                        </text>
                        <text class="position" x="50" y="65">3</text>
                    </g>

                    <g class="player">
                        <polygon rv-show="seats.3.rank.dropped" class="dropped" points="0,0 50,50 0,100"></polygon>
                        <polygon rv-hide="seats.3.rank.dropped" points="0,0 50,50 0,100"></polygon>

                        <text x="-50" y="10" transform="rotate(-90)">
                            { seats.3.player.name }
                        </text>

                        <text class="position" x="40" y="55">4</text>
                    </g>
                </svg>
            </div>
        </div>

        <div rv-show="round_started" class="row">
            <div class="large-12 medium-12 small-12 columns">
                <table class="table-data">
                    <tr>
                        <th>Position</th>
                        <th>Player</th>
                        <th>Score</th>
                        <th>Drop</th>
                    </tr>

                    <tr rv-class-dropped="seats.0.rank.dropped">
                        <td>First</td>
                        <td>{ seats.0.player.name }</td>
                        <td><input type="text" rv-disabled="round_finished" rv-value="seats.0.seat.score" /></td>

                        <td>
                            <button rv-show="seats.0.rank.dropped" class="button success drop-player" data-idx="0">
                                Join
                            </button>

                            <button rv-hide="seats.0.rank.dropped" class="button alert drop-player" data-idx="0">
                                Drop
                            </button>
                        </td>
                    </tr>

                    <tr rv-class-dropped="seats.1.rank.dropped">
                        <td>Second</td>
                        <td>{ seats.1.player.name }</td>
                        <td><input type="text" rv-disabled="round_finished" rv-value="seats.1.seat.score" /></td>

                        <td>
                            <button rv-show="seats.1.rank.dropped" class="button success drop-player" data-idx="1">
                                Join
                            </button>

                            <button rv-hide="seats.1.rank.dropped" class="button alert drop-player" data-idx="1">
                                Drop
                            </button>
                        </td>
                    </tr>

                    <tr rv-class-dropped="seats.2.rank.dropped">
                        <td>Third</td>
                        <td>{ seats.2.player.name }</td>
                        <td><input type="text" rv-disabled="round_finished" rv-value="seats.2.seat.score" /></td>
                        
                        <td>
                            <button rv-show="seats.2.rank.dropped" class="button success drop-player" data-idx="2">
                                Join
                            </button>

                            <button rv-hide="seats.2.rank.dropped" class="button alert drop-player" data-idx="2">
                                Drop
                            </button>
                        </td>
                    </tr>

                    <tr rv-class-dropped="seats.3.rank.dropped">
                        <td>Fourth</td>
                        <td>{ seats.3.player.name }</td>
                        <td><input type="text" rv-disabled="round_finished" rv-value="seats.3.seat.score" /></td>

                        <td>
                            <button rv-show="seats.3.rank.dropped" class="button success drop-player" data-idx="3">
                                Join
                            </button>

                            <button rv-hide="seats.3.rank.dropped" class="button alert drop-player" data-idx="3">
                                Drop
                            </button>
                        </td>
                    </tr>
                </table>

                <button class="button record-scores expanded">Record Scores</button>
            </div>
        </div>
    </div>
</script>
