<script id="table-component" type="text/template">
    <div class="row table-component">
        <div class="large-4 hide-for-medium-only small-12 columns">
            <svg class="table-graph" viewbox="0 0 100 100">
                <g rv-each-item="seats" class="player">
                    <polygon rv-show="item.rank.dropped" class="dropped" rv-points="item.svg.points"></polygon>

                    <g rv-hide="item.rank.dropped">
                        <polygon rv-show="item.seat.won" class="won" rv-points="item.svg.points"></polygon>
                        <polygon rv-hide="item.seat.won" rv-points="item.svg.points"></polygon>
                    </g>

                    <text rv-x="item.svg.name_text_x" rv-y="item.svg.name_text_y" rv-transform="item.svg.name_text_transform">
                        { item.player.name }
                    </text>

                    <text class="position" rv-x="item.svg.pos_text_x" rv-y="item.svg.pos_text_y">
                        { item.svg.position}
                    </text>
                </g>
            </svg>
        </div>

        <div class="large-8 medium-12 small-12 columns">
            <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <div class="table-heading">
                        <span class="table-name">Table { table.table_number }</span>
                        <span class="table-buttons">
                            <span rv-if="can_modify">
                                <button class="button primary edit_table">Edit</button>
                                <button class="button alert remove_table">Delete</button>
                            </span>
                        </span>
                        <span class="player-count">{ num_seats } Players</span>
                    </div>
                </div>
            </div>

            <div rv-show="round_started">
                <table class="table-data">
                    <tr>
                        <th>Won?</th>
                        <th>Position</th>
                        <th>Player</th>
                        <th>Score</th>
                        <th>Drop</th>
                        <th></th><!-- remove -->
                        <th>Move</th>
                    </tr>

                    <tr rv-each-item="seats" rv-class-dropped="item.rank.dropped">
                        <td>
                            <span rv-show="can_modify">
                                <button rv-show="item.seat.won" class="button success unmark-win" rv-data-idx="item.position">
                                    WON
                                </button>

                                <button rv-hide="item.seat.won" class="button secondary mark-win" rv-data-idx="item.position">
                                    LOSS
                                </button>
                            </span>
                        </td>
                        <td>{ item.position | table_position }</td>
                        <td>{ item.player.name }</td>
                        <td>
                            <input type="text" rv-enabled="can_record_scores" rv-value="item.seat.score" />
                        </td>

                        <td>
                            <span rv-show="can_modify">
                                <button rv-show="item.rank.dropped" class="button success drop-player" rv-data-idx="item.position">
                                    Rejoin
                                </button>

                                <button rv-hide="item.rank.dropped" class="button alert drop-player" rv-data-idx="item.position">
                                    Drop
                                </button>
                            </span>
                        </td>

                        <td>
                            <span rv-show="can_modify">
                                <button rv-show="item.rank.dropped" class="button alert remove-player" rv-data-idx="item.position">
                                    Remove
                                </button>
                            </span>
                        </td>

                        <td>
                            <span rv-show="can_modify">
                                <button class="button primary move-player" rv-data-idx="item.position">
                                    Move
                                </button>
                            </span>
                        </td>
                    </tr>
                </table>

                <button rv-show="can_record_scores" class="button record-scores expanded">
                    Record Scores
                </button>
            </div>
        </div>
    </div>
</script>
