<script id="table-component" type="text/template">
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <h2>Table { table.table_number }</h2>
            <h3>{ num_seats } Players </h3>
        </div>
    </div>

    <div class="row">
        <div class="large-4 medium-4 small-4 columns">
            <svg class="table-graph" viewbox="0 0 100 100">
                <g rv-each-item="seats" class="player">
                    <polygon rv-if="item.rank.dropped" class="dropped" rv-points="item.svg.points"></polygon>
                    <polygon rv-unless="item.rank.dropped" rv-points="item.svg.points"></polygon>

                    <text rv-x="item.svg.name_text_x" rv-y="item.svg.name_text_y" rv-transform="item.svg.name_text_transform">
                        { item.player.name }
                    </text>

                    <text class="position" rv-x="item.svg.pos_text_x" rv-y="item.svg.pos_text_y">
                        { item.svg.position}
                    </text>
                </g>
            </svg>
        </div>

        <div class="large-8 medium-8 small-8 columns">
            <div rv-if="round_started">
                <table class="table-data">
                    <tr>
                        <th>Position</th>
                        <th>Player</th>
                        <th>Score</th>
                        <th>Drop</th>
                    </tr>

                    <tr rv-each-item="seats" rv-class-dropped="item.rank.dropped">
                        <td>{ item.position | table_position }</td>
                        <td>{ item.player.name }</td>
                        <td>
                            <input type="text" rv-enabled="can_record_scores" rv-value="item.seat.score" />
                        </td>

                        <td>
                            <span rv-if="can_modify">
                                <button rv-if="item.rank.dropped" class="button success drop-player" rv-data-idx="item.position">
                                    Join
                                </button>

                                <button rv-unless="item.rank.dropped" class="button alert drop-player" rv-data-idx="item.position">
                                    Drop
                                </button>
                            </span>
                        </td>
                    </tr>
                </table>

                <button rv-if="can_record_scores" class="button record-scores expanded">
                    Record Scores
                </button>
            </div>
        </div>
    </div>
</script>
