<script id="template-list" type="text/template">
    <div class="sub-menu templates">
        <button class="sub-button on-close">
            <i class="fa fa-window-close-o" aria-hidden="true"></i> Close
        </button>
    </div>

    <div class="main-content">
        <h2>Tournament Templates</h2>
        <div rv-hide="has_tournament_templates">
            <h4>You have not created any tournament templates yet.</h4>
        </div>
        <div rv-show="has_tournament_templates">
            <div class="tiles tournament-template-tiles"></div>
        </div>

        <h2>Event Templates</h2>
        <div rv-hide="has_event_templates">
            <h4>You have not created any event templates yet.</h4>
        </div>
        <div rv-show="has_event_templates">
            <div class="tiles event-template-tiles"></div>
        </div>
    </div>
</script>
